*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background: rgb(250, 246, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
    position: relative;
    background: black;
    padding: 40px;
}

.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext .img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .img img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.data{
    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.data ul{
    position: relative;
}

.data ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.data ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #f4f003;
}

.data ul li span{
    color: #fff;
    font-weight: 300;
}

.data.education li{
    margin-bottom: 15px;
}

.data.education h5{
    color: #f4f003;
    font-weight: 500;
}

.data.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.data.education h4{
    color: #fff;
    font-weight: 5000;
}

.data.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #fff;
    display: block;
    margin-top: 5px;
}

.data.language .percent div{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: #f4f003;
}

.container .right_side{
    position: relative;
    background: rgb(27, 26, 26);
    padding: 40px;
}

.about{
    margin-bottom: 50;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #f4f003;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #fff;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #f4f003;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #fff;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fas{
    color: #f4f003;
}

.interest ul li .fab{
    color: #f4f003;
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }

    .about .box .year_company{
        margin-bottom: 5px;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}